* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.heading {
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1; /* Ensure the overlay is on top */
}
.popup-body {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  z-index: 2; /* Ensure the content is on top of the overlay */
}
.popup-body h2 {
  margin-top: 0;
}
.popup-body input {
  border: 1px solid rgb(222, 220, 220);
  height: 2rem;
  width: 100%;
}
.popup-buttons{
    margin-top: 1rem;
    display: flex;
    justify-content: end;
}
.popup-buttons button{
    margin-left: 0.5rem;
}
.left-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(222, 220, 220);
}
.joined-list {
  order: 2;
  flex-grow: 1;
}
.group-div{
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
}
.group-div h4{
    margin: 0;
}
.create-group-div {
  order: 3;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-group-div button {
  width: 70%;
}

.right-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#chat-head {
  order: 1;
}
.chat-container {
  order: 2;
  flex-grow: 1;
  overflow-y: auto;
}
.chat-footer {
  display: flex;
  order: 3;
  width: 100%;
  height: 2.7rem;
  position: sticky;
  bottom: 0;
}
.chat-input-container {
  order: 1;
  flex-grow: 1;
  height: 100%;
}
.chat-input-container input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(222, 220, 220);
}
.send-button-container {
  order: 2;
  width: 4rem;
  height: 100%;
}
.send-button-container button {
  width: 100%;
  height: 100%;
}
.chat-element {
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
}
